{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h3>Checkout</h3>
                <p> There are {{totalCartItems}} product in your cart</p>
                {% comment %} <form action="#"> {% endcomment %}
                    <div class="row">
                        <div class="col-lg-6">
                        <h4>Billing Details</h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" placeholder="Street Address" class="checkout__input__add">
                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Ship to a different address?
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text"
                                    placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">
                                    <div class="checkout__order__image">Image</div>
                                    <div class="checkout__order__name">Name</div>
                                    <div class="checkout__order__quantity">Quantity</div>
                                    <div class="checkout__order__price">Price</div>
                                </div>
                                <ul>
                                    {% for product_id, item in cart_data.items %}
                                    <li>
                                        <div class="checkout__order__image">
                                            <img src="{{item.image}}">
                                        </div>
                                        <div class="checkout__order__name">{{item.title}}</div>
                                        <div class="checkout__order__quantity">x{{item.qty}}</div>
                                        <div class="checkout__order__price">${% widthratio item.price 1 item.qty%}</div>
                                    </li>
                                    {% endfor %}
                                    
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span>${{cart_total_amount}}</span></div>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Cash on delivery
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class=''>
                                    {{ paypal_payment_button.render }}
                                </div>
                                {% comment %} <button type="submit" class="site-btn">PLACE ORDER</button> {% endcomment %}
                            </div>
                        </div>
                    </div>
                {% comment %} </form> {% endcomment %}
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock content %}