{% for address in addresses %}
    <div class="address-content">
        <div class="address-content-left">
            <p style="color: black;">{{ address.display_name}}</p>
            <p>{{ address.mobile}}</p>
            <p>{{ address.address}}</p>
            {% if address.is_default == True %}
            <button>Default</button>
            {% endif %}
        </div>
        <div class="address-content-right">
            <a data-toggle="modal" data-target="#exampleModalLong2">Update</a>

            <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="modal-add-cart" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-add-cart">Update Address</h5>
                    </div>
                    <div class="modal-body">
                        
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-primary" id="add-address">Confirm</button>
                    </div>
                  </div>
                </div>
            </div>

            <button class="address-default" data-address="{{address.id}}" onClick="address_default(this)">Address default</button>
        </div>
    </div>
{% endfor %}